################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GreedySnake/v16
/packages/MetroModernUI.1.4.0.0
/GreedySnake/bin/Debug
/GreedySnake/obj/Debug
